body{
   background-color:rgb(237, 226, 226);
   display: flex;
   flex-direction: column;
   font-size: 1.1rem;
   margin: auto;
   text-align: center;
   width: 70vw;
}

.googleBtn{
   align-self: center;
   background-color: rgb(226, 135, 156);
   border: none;
   border-radius: 8px;
   font-size: 1.1rem;
   margin: 45px 0px;
   padding: 8px 0px;
   width:200px;
}

.googleBtn:hover{
   background-color: rgb(211, 57, 93);
   color: white;
   cursor: pointer;
}

p{
   color: rgb(210, 6, 54);
   font-weight: bold;
}