*{
   box-sizing: border-box;
   margin: 0;
   font-family: Verdana, Geneva, Tahoma, sans-serif;
   font-size:15px;
}
body {
   background-color: rgb(229, 227, 227);
}

#btnContainer, #txtcontainer{
   display: flex;
   justify-content: center;
   margin: 50px 0px;
}
h2 {
   margin-top: 50px;
   text-align: center;
   color: rgb(137, 32, 137);
   font-size: 18px;
}
#showTxt{
   background-color: rgb(166, 118, 166);
   border: none;
   padding: 10px;
   border-radius: 8px;
}

#showTxt:hover{
   background-color: rgb(137, 32, 137);
   cursor: pointer;
   color:rgb(229, 227, 227);
}

#divTxt{
   visibility: hidden;
   padding: 10px;
   border-radius: 8px;
   border: 1px solid rgb(137, 32, 137);
   box-shadow: 10px 10px 15px -4px rgb(166, 118, 166);
   width: 350px;
}