body{
   align-items: center;
   background-color:rgb(237, 226, 226);
   display: flex;
   flex-direction: column;
   font-size: 1.1rem;
   height: 100vh;
   margin: auto;
   margin-top: 50px;
   text-align: center;
   width: 70vw;
}

h1{
   color: rgb(211, 57, 93)
}
div{
   border: 1px solid rgb(211, 57, 93);
   padding: 5px 10px;
}
p{
   font-size: 12pt;
}


